node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
.pnpm-store
coverage
.nyc_output
*.md
!PROJECT-SPEC.md
.vscode
.idea
.DS_Store
logs
*.log
npm-debug.log*
docker-compose*.yml
Dockerfile*
.dockerignore
test
**/*spec.ts
**/*.test.ts
